<div class="item">
  <div class="solid-circles">
    <div class="solid-circle circle-1">0</div>
    <div class="solid-circle circle-2">0</div>
    <div class="solid-circle circle-3">{{ product.count }}</div>
  </div>
  <div class="price">{{ product.price }}</div>

  <div class="details">
    <img
      class="item-icon"
      [src]="'../../../assets/products/' + product.id + '.svg'"
      alt=""
    />
    <p class="m-0">{{ product.name }}</p>
    <p>{{ product.dimesions }}</p>
    <h3>0</h3>
  </div>

  <div class="actions-circles circle-subtract">
    <mat-icon class="text-white">remove</mat-icon>
  </div>
  <div class="actions-circles circle-add">
    <mat-icon class="text-white">add</mat-icon>
  </div>
</div>
