
$dark-green: #333366;
.bg-dark-green {
  background-color: $dark-green !important;
}
.clr-dark-green {
  color: $dark-green !important;
}

$light-green: #B3CD50;
.bg-light-green {
  background-color: $light-green !important;
}
.clr-light-green {
  color: $light-green !important;
}
$greenish: #ffffcc;
.bg-greenish {
  background-color: $greenish !important;
}
.clr-greenish {
  color: $greenish!important;
}
