<mat-card class="dashboard-card h-75 m-3 mat-elevation-z8">
  <img class="close-icon" src="../../../assets/icons/close_icon.svg" alt="" (click)="close()" />
  <mat-card-header> </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <form class="container" (ngSubmit)="submit(form)" #form="ngForm" [formGroup]="createCustomerFormGroup">
      <div class="row">
        <div class="col d-flex align-items-center">
          <h3>Nieuwe klant</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-6 container">
          <!-- name -->
          <div class="row mb-5">
            <img
              class="input-icon"
              src="../../../assets/icons/person_black_24dp.svg"
              alt=""
            />
            <input
              class="form-input col-9"
              placeholder="Naam"
              name="name"
              [formControl]="createCustomerFormGroup?.controls['name']"
              required
              [class.valid]="createCustomerFormGroup.controls['name'].invalid && (createCustomerFormGroup.controls['name'].dirty || createCustomerFormGroup.controls['name'].touched)"
            />
            <div *ngIf="createCustomerFormGroup.controls['name'].invalid && (createCustomerFormGroup.controls['name'].dirty || createCustomerFormGroup.controls['name'].touched)" class="text-danger">
              <div *ngIf="createCustomerFormGroup.controls['name'].errors.required">
              This field is required
            </div>
          </div>

          </div>
          <!-- address -->
          <div class="row my-3">
            <img
              class="input-icon"
              src="../../../assets/icons/location_icon.svg"
              alt=""
            />
            <input
              class="form-input col-9"
              placeholder="Adreslijin1"
              name="firstAddress"
              required
              [formControl]="createCustomerFormGroup?.controls['firstAddress']"
              [class.valid]="createCustomerFormGroup.controls['firstAddress'].invalid && (createCustomerFormGroup.controls['firstAddress'].dirty || createCustomerFormGroup.controls['firstAddress'].touched)"
            />
            <div *ngIf="createCustomerFormGroup.controls['firstAddress'].invalid && (createCustomerFormGroup.controls['firstAddress'].dirty || createCustomerFormGroup.controls['firstAddress'].touched)" class="text-danger">
              <div *ngIf="createCustomerFormGroup.controls['firstAddress'].errors.required">
              This field is required
            </div>
          </div>
          </div>
          <div class="row my-3">
            <div class="input-icon"></div>
            <input
              class="form-input col-9"
              placeholder="Adreslijin1"
              name="secondAddress"
              required
              [formControl]="createCustomerFormGroup?.controls['secondAddress']"
              [class.valid]="createCustomerFormGroup.controls['secondAddress'].invalid && (createCustomerFormGroup.controls['secondAddress'].dirty || createCustomerFormGroup.controls['secondAddress'].touched)"
            />
            <div *ngIf="createCustomerFormGroup.controls['secondAddress'].invalid && (createCustomerFormGroup.controls['secondAddress'].dirty || createCustomerFormGroup.controls['secondAddress'].touched)" class="text-danger">
              <div *ngIf="createCustomerFormGroup.controls['secondAddress'].errors.required">
              This field is required
            </div>
          </div>
          </div>
          <div class="row my-3 mb-5">
            <div class="input-icon"></div>
            <input
              class="form-input col-9"
              placeholder="Postcode - Gemeente"
              name="postCode"
              required
              [formControl]="createCustomerFormGroup?.controls['postCode']"
              [class.valid]="createCustomerFormGroup.controls['postCode'].invalid && (createCustomerFormGroup.controls['postCode'].dirty || createCustomerFormGroup.controls['postCode'].touched)"
            />
            <div *ngIf="createCustomerFormGroup.controls['postCode'].invalid && (createCustomerFormGroup.controls['postCode'].dirty || createCustomerFormGroup.controls['postCode'].touched)" class="text-danger">
              <div *ngIf="createCustomerFormGroup.controls['postCode'].errors.required">
              This field is required
            </div>
          </div>
          </div>
          <!-- contacts -->
          <div class="row my-3">
            <img
              class="input-icon"
              src="../../../assets/icons/telephone_icon.svg"
              alt=""
            />
            <input
              class="form-input col-9"
              placeholder="Tel"
              name="phoneNumber"
              [formControl]="createCustomerFormGroup?.controls['phoneNumber']"
            />
          </div>
          <div class="row my-3">
            <img
              class="input-icon"
              src="../../../assets/icons/email_icon.svg"
              alt=""
            />
            <input
              class="form-input col-9"
              placeholder="Email"
              name="email"
              required
              type="email"
              [formControl]="createCustomerFormGroup?.controls['email']"
              [class.valid]="createCustomerFormGroup.controls['email'].invalid && (createCustomerFormGroup.controls['email'].dirty || createCustomerFormGroup.controls['email'].touched)"
            />
            <div *ngIf="createCustomerFormGroup.controls['email'].invalid && (createCustomerFormGroup.controls['email'].dirty || createCustomerFormGroup.controls['email'].touched)" class="text-danger">
              <div *ngIf="createCustomerFormGroup.controls['email'].errors.required">
              This field is required
            </div>
          </div>
          </div>
        </div>
        <div class="col-4 container">
          <div class="row my-3">
            <div class="col-3">
              <img
                class="input-icon"
                src="../../../assets/icons/schedule-24px.svg"
                alt=""
              />
            </div>
            <div class="col-9 container-fluid">
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2">Ma</span>
                <input class="form-input col-8" placeholder="Openingsuren" />
              </div>
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2">Di</span>
                <input class="form-input col-8" placeholder="Openingsuren" />
              </div>
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2">Wo</span>
                <input class="form-input col-8" placeholder="Openingsuren" />
              </div>
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2">Do</span>
                <input class="form-input col-8" placeholder="Openingsuren" />
              </div>
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2">Vrij</span>
                <input class="form-input col-8" placeholder="Openingsuren" />
              </div>
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2">Za</span>
                <input class="form-input col-8" placeholder="Openingsuren" />
              </div>
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2">Zo</span>
                <input class="form-input col-8" placeholder="Openingsuren" />
              </div>
              <div class="row my-3 d-flex align-items-center">
                <span class="col-2"></span>
                <button type="submit" class="col-8 mx-3" color="primary" mat-stroked-button >
                  VOEG TOE
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
