@import "../../sass-helpers/colors.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  background: $greenish;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    width: 80%;
  }
}

.menu-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
    background: $greenish;
  }
  img {
    height: 50px;
  }
  span {
    font-weight: bold;
    color: $dark-green;
    text-align: center;
  }
}

.toolbar-line {
  background: $light-green;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.profile-name {
  background: $light-green;
  position: absolute;
  padding: 5px 30px 0px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  right: 10px;
  color: $dark-green;
}

.white-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
