<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav bg-light-green"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <!-- <mat-toolbar class="p-0 back-green">

    </mat-toolbar> -->
    <div class="logo" (click)="navigate('')" >
      <img
        class="logo-btn back-green"
        src="../../assets/icons/logo.svg"
        alt=""
      />
      <div class="white-circle">Tom & Co</div>
    </div>

    <div class="d-flex flex-column align-items-center mt-5">
      <div class="menu-item" mat-list-item (click)="navigate('')" >
        <img src="../../assets/icons/icon_klantenkopie.svg" alt="" />
        <span>Klanten</span>
      </div>
      <div class="menu-item" mat-list-item >
        <img src="../../assets/icons/icon_catalogus.svg" alt="" />
        <span>Salesbook</span>
      </div>
      <div class="menu-item" mat-list-item >
        <img src="../../assets/icons/icon_bestelling.svg" alt="" />
        <span>Bestelling</span>
      </div>
      <div class="menu-item" mat-list-item (click)="navigate('catalogue')">
        <img src="../../assets/icons/items_group.svg" alt="" />
        <span>Items</span>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="" class="d-flex position-relative tool">
      <div class="profile-name">Klanten</div>
      <div class="toolbar-line"></div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
